/* Button Styles */
.btn {
  @apply px-6 py-1 rounded-lg text-white font-semibold;
  border-radius: 100px;
  cursor: pointer;
}

.btn-secondary {
  @apply bg-custom-primary hover:bg-custom-hover transition duration-200;
}

.btn-primary {
  @apply bg-custom-primary hover:bg-custom-hover mt-3 transition duration-200;
}

.hero {
  background-image: url('../../../assets/images/HomeBG.jpg');
  background-size: cover;
  background-position: center;
}
